<div class="row">
<!-- Column -->
<div class="col-lg-3 col-md-6">
    <div class="card">
        <div class="card-body">
            <!-- Row -->
            <div class="row">
                <div class="col-8">
                    <h2>{{OccuMotCle}} <i class="ti-angle-down font-14 text-danger"></i></h2>
                    <h6>Mot clées utilisés</h6>
                </div>
                <div class="col-4 align-self-center text-right  p-l-0">
                    <div id="sparklinedash3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Column -->
<div class="col-lg-3 col-md-6">
    <div class="card">
        <div class="card-body">
            <!-- Row -->
            <div class="row">
                <div class="col-8">
                    <h2 class="">{{OccType}} <i class="ti-angle-up font-14 text-success"></i></h2>
                    <h6>Type</h6>
                </div>
                <div class="col-4 align-self-center text-right p-l-0">
                    <div id="sparklinedash"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Column -->
<div class="col-lg-3 col-md-6">
    <div class="card">
        <div class="card-body">
            <!-- Row -->
            <div class="row">
                <div class="col-8">
                    <h2>{{OccProduit}}<i class="ti-angle-up font-14 text-success"></i></h2>
                    <h6>Produit occurence</h6>
                </div>
                <div class="col-4 align-self-center text-right p-l-0">
                    <div id="sparklinedash2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>